.profile-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
}

.profile {
    width: $laptop-content-width;
    text-align: justify;
}