.main-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
}

.main {
    margin: 10px 0;
    width: $laptop-content-width;
    text-align: justify;
}