.navbar-wrapper {
    background-color: $navbar-color;
    height: $navbar-height;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100vw;
}

.navbar {
    width: $laptop-content-width;

    &__logo {
        font-size: 26px;
        color: #ffffff;
        text-decoration: none;
    }

    &__about {
        margin: 0 20px;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
    }

    &__registration, &__login {
        color: #ffffff;
        padding: 5px;
        text-decoration: none;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }

    $user-menu-width: 160px;

    &__user-menu {
        height: 100%;
        width: $user-menu-width;
        box-sizing: border-box;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        text-decoration: none;
        margin-right: 5px;
        font-family: $font-family;
        padding: 8px 0;
        &:hover {
            background-color: darken($navbar-color, 10);
        }
    }

    &__avatar {
        border-radius: 50%;
        border: 2px solid #aaaaaa;
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin: 0 10px 0 0;

        & img {
            object-fit: cover;
            background-color: #fff;
            width: 100%;
            height: 100%;
        }
    }

    &__dropdown {
        display: none;

        position: absolute;
        background-color: darken($navbar-color, 10);
        // display: flex;
        flex-direction: column;
        top: $navbar-height;
        width: $user-menu-width;
        &-item {
            text-align: center;
            padding: 10px;
            text-decoration: none;
            color: #ffffff;
            &:hover {
                background-color: darken($navbar-color, 15);
                cursor: pointer;
            }
        }
    }

    &__user-menu:hover &__dropdown {
        display: flex;
    }
}
