.post-details-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
}

.post-details {
    margin-top: 10px;
    width: $laptop-content-width;
    text-align: justify;

    &__image {
        width: 100%;
        height: auto;
        overflow: hidden;

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__post {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 2px solid $font-color;
    }
}
#upload__image {
    display: none;
}

.comment-text {
    border: 1px solid $font-color;

    &__textarea {
        width: 100%;
        font-size: 16px;
        font-family: $font-family;
        resize: none;
        height: 120px;
    }
}
